{% extends "base.html" %}
{% load static %}

{% block blocktitle%}
    {{ title }}
{% endblock blocktitle %} 


{% block content %}

<h1>Hello, world! from templates</h1>

<h2>News</h2>

{% comment %} <div>
    <h2>Filter Students</h2>

    <form method='GET'>
        {% csrf_token %}
        {{ filter.form.as_p }}
        <div class="student_form_button">
            <button>filter</button>
        </div>
    </form>
</div> {% endcomment %}

{% comment %} {{ object_list }} {% endcomment %}


<div class="students_container">

    {% for news in news_list %}
        <div class="student_card">
            <div>
                {% comment %} <a href="{% url 'student_detail' id=student.id %}"> {% endcomment %}
                    {% if news.image %}
                        <img src="{{ news.image.url }}" alt="{{ news.title }}">
                    {% else %}
                        No image
                    {% endif %}
                {% comment %} </a>  {% endcomment %}
            </div>
            <div>name: {{ news.title|upper }}</div>
            <div>name: {{ news.subtitle|upper }}</div>
            <div>name: {{ news.category.name }}</div>
            <div>name: {{ news.created_at }}</div>
            {% comment %} <div>name: {{ news.content }}</div> {% endcomment %}
            {% comment %} <div>
                <a href="{% url 'student_detail' id=student.id%}">remove</a>
            </div> {% endcomment %}
        </div>
    {%  endfor %} 
</div>

{% comment %} <div>
    {% if is_paginated %} 
        <div class="pagination">
            <div class="pagination_btns">
                {% if students.has_previous %}
                    <a class="page_link" href="?page={{ students.previous_page_number }}"><</a>
                {% endif %}
                
                {% for i in students.paginator.page_range %}
                    {% if students.number == i %}
                        <span class="page_link">{{ i }}</span>
                    {% else %}
                        <a class="page_link" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if students.has_next %}
                    <a class="page_link" href="?page={{ students.next_page_number }}">></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endcomment %}
{% endblock content %} 